@charset "UTF-8";

	body{
		font-family:verdana, arial, sans-serif;
		color:#333333;
		margin:15;
		text-align:right;
	}

	a {color:#0000ff;text-decoration:none}
	a:link    {color:#0000ff;text-decoration:none}
	a:visited {text-decoration:none}
	a:active  {}
	a:hover   {color:#0000ff;text-decoration:underline}

	h1,h2,h3{margin:0;padding:0;}

	span.font_L {font-size:150%;}
	span.font_S {font-size:70%;}


	.head-a{
		color:#333;
		font-size:18pt;
		font-weight: bold;
		margin:0px 0 5 0;
		letter-spacing:1px;
	}

	.head-b{
		color:#333;
		font-size:13.5pt;
		font-weight: bold;
		margin:40px 0px 10px 0px;
		padding:0px 0px 5px 0px;
		border-bottom:1px solid #999;
		letter-spacing:1px;
	}

	.head-c{
		color:#222;
		font-size:12pt;
		font-weight: bold;
		margin:40px 0px 0px 0px;
		letter-spacing:1px;
	}

	.head-d{
		color:#111;
		font-size:12pt;
		font-weight: bold;
		margin:30px 0px 0px 0px;
		letter-spacing:1px;
	}

	.head-t{
		color:#333333;
		font-size:10pt;
		font-weight:bold;
		margin:20px 0px 0px 0px;
		letter-spacing:1px;
	}

	.read-t{
		font-size:10pt;
		margin:0px 0px 20px 0px;
	}

	.body-l{
		font-size:10pt;
		line-height:140%; 
		margin:10px 0px 10px 0px;
	}

	.body-t{
		font-size:10pt;
		line-height:140%; 
		margin:10px 0px 10px 0px;
	}

	.body-tbl{
		font-size:10pt;
		line-height:120%; 
		margin:5px 5px 5px 5px;
	}

	.body-i{
		font-size:10pt;
		margin:0px 20px 0px 0px;
	}

	.indent {
		font-size:10pt;
		margin:10px 30px 20px 20px;
	}

	.bullet{
		font-size:10pt;
		line-height:130%;
		margin:5px 5px 5px 5px;
		padding:0px 20px 0px 0px;
		background:url('_bg00.gif') no-repeat 100% 5px;
	}

	.action{
		font-size:10pt;
		line-height:130%;
		margin:5px 5px 5px 5px;
		padding:0px 20px 0px 0px;
		background:url('_bg01.gif') no-repeat 100% 5px;
	}

	.hosoku{
		font-size:8pt;
		color:#666;
		line-height:130%;
		padding:5px 25 5 0px;
	}

	.jumper{
		font-size:10pt;
		line-height:130%;
		margin:5px 0px 0px 0px;
		padding:0px 20px 0px 0px;
		background:url('_bg02.gif') no-repeat 0px 1px;
	}

	.pagetop{
		font-size:8pt;
		text-align:right;
		line-height:130%;
		margin:10px 0px 30px 0px;
		padding:0px 0px 5px 20px;
		background:url('_bg03ar.gif') no-repeat 0% 100%;
	}

	.link-t{
		font-size:10pt;
		font-weight: bold;
		margin:10px 0px 0px 0px;
		padding:1px 20px 0px 0px;
		background:url('_bg04ar.gif') no-repeat 100% 0%;
	}

	.step-a{
		color:#333;
		font-size:10pt;
		font-weight: bold;
		margin:20px 10px 10px 10px;
	}

	.step-b{
		color:#333;
		font-size:10pt;
		margin:10px 10px 20px 0px;
	}

	.step-t{
		font-size:10pt;
		line-height:140%; 
		margin:10px 30px 30px 0px;
	}

	.step01{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st01.gif') no-repeat 100% 0px;
	}

	.step02{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st02.gif') no-repeat 100% 0px;
	}

	.step03{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st03.gif') no-repeat 100% 0px;
	}

	.step04{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st04.gif') no-repeat 100% 0px;
	}

	.step05{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st05.gif') no-repeat 100% 0px;
	}

	.step06{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st06.gif') no-repeat 100% 0px;
	}

	.step07{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st07.gif') no-repeat 100% 0px;
	}

	.step08{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st08.gif') no-repeat 100% 0px;
	}

	.step09{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st09.gif') no-repeat 100% 0px;
	}

	.step10{
		font-size:10pt;
		line-height:130%;
		margin:10px 5px 10px 0px;
		padding:1px 25px 5px 0px;
		background:url('_st10.gif') no-repeat 100% 0px;
	}

	.tables {
		text-align:center;
		margin:15px 0px 15px 0px;
	}

	.table-head {
		font-size:10pt;
		font-weight: bold;
		margin:3px;
	}

	.table-numb {
		text-align:center;
		font-size:10pt;
		color: #fff;
		font-weight: bold;
		margin:1px 3px 0px 0px;
	}

	.table-text {
		font-size:10pt;
		margin:3px;
		letter-spacing:0px;
	}

	.table-note {
		font-size:10pt;
		margin:0px 30px 5px 0px;
		letter-spacing:0px;
	}

	.images {
		text-align:center;
		margin:30px 0px 20px 0px;
	}

	.blanks{
		height:20px;
		margin:10px 0px 0px 0px;
	}

